Repository NaktoG/cronostudio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(security): add structured logging and config validation
  apps/web/src/lib/config.ts
  apps/web/src/lib/logger.ts
  apps/web/src/middleware/auth.ts
Due: eslint --fix, prettier --write

feat(architecture): add domain layer with entities and value objects
  apps/web/src/domain/entities/Channel.ts
  apps/web/src/domain/entities/Idea.ts
  apps/web/src/domain/entities/Production.ts
  apps/web/src/domain/entities/User.ts
  apps/web/src/domain/index.ts
  apps/web/src/domain/repositories/ChannelRepository.ts
  apps/web/src/domain/repositories/IdeaRepository.ts
  apps/web/src/domain/repositories/ProductionRepository.ts
  apps/web/src/domain/repositories/UserRepository.ts
  apps/web/src/domain/value-objects/IdeaStatus.ts
  apps/web/src/domain/value-objects/ProductionStatus.ts
Due: eslint --fix, prettier --write

feat(architecture): add application layer with usecases and services
  apps/web/src/application/index.ts
  apps/web/src/application/services/AuthService.ts
  apps/web/src/application/usecases/idea/CreateIdeaUseCase.ts
  apps/web/src/application/usecases/idea/DeleteIdeaUseCase.ts
  apps/web/src/application/usecases/idea/ListIdeasUseCase.ts
  apps/web/src/application/usecases/idea/UpdateIdeaUseCase.ts
  apps/web/src/application/usecases/production/AdvanceProductionUseCase.ts
  apps/web/src/application/usecases/production/CreateProductionUseCase.ts
  apps/web/src/application/usecases/production/ListProductionsUseCase.ts
  apps/web/src/application/usecases/production/UpdateProductionUseCase.ts
Due: eslint --fix, prettier --write

feat(architecture): add infrastructure layer with repository implementations
  apps/web/src/infrastructure/index.ts
  apps/web/src/infrastructure/repositories/PostgresIdeaRepository.ts
  apps/web/src/infrastructure/repositories/PostgresProductionRepository.ts
  apps/web/src/infrastructure/repositories/PostgresUserRepository.ts
Due: eslint --fix, prettier --write

test(architecture): add unit tests for domain and application layers
  apps/web/src/__tests__/application/idea-usecases.test.ts
  apps/web/src/__tests__/domain/entities.test.ts
  apps/web/src/__tests__/domain/value-objects.test.ts
Due: eslint --fix, prettier --write

refactor(api): migrate routes to Clean Architecture UseCases
  apps/web/src/app/api/auth/login/route.ts
  apps/web/src/app/api/auth/register/route.ts
  apps/web/src/app/api/ideas/route.ts
  apps/web/src/app/api/productions/route.ts
  apps/web/src/infrastructure/repositories/PostgresProductionRepository.ts
Due: eslint --fix, prettier --write

feat(testing): configure vitest and husky
  apps/web/.husky/pre-commit
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/vitest.config.ts
Due: eslint --fix, prettier --write

docs: upgrade documentation to professional standard
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
Due: none

fix(ui): make production pipeline responsive
  apps/web/src/app/components/ProductionPipeline.tsx
Due: eslint --fix, prettier --write

feat: mejorar ideas y seed demo
  apps/web/src/app/ideas/page.tsx
  infra/docker/migration_content_modules.sql
  infra/docker/seed_demo_data.sql
Due: eslint --fix, prettier --write

fix: asegurar sesion en ideas
  apps/web/src/app/ideas/page.tsx
  apps/web/src/app/login/page.tsx
Due: eslint --fix, prettier --write

fix: desactivar rate limit en dev
  apps/web/src/app/login/page.tsx
  apps/web/src/middleware/rateLimit.ts
Due: eslint --fix, prettier --write

fix: reemplazar alert y contar ideas
  apps/web/src/app/ideas/page.tsx
  apps/web/src/app/page.tsx
Due: eslint --fix, prettier --write

fix: contar ideas en pipeline
  apps/web/src/infrastructure/repositories/PostgresProductionRepository.ts
Due: eslint --fix, prettier --write

feat: agregar workflows n8n base
  infra/docker/env
  n8n/workflows/README.md
  n8n/workflows/cronostudio-ingest-analytics-daily.json
  n8n/workflows/cronostudio-sync-channels.json
  n8n/workflows/cronostudio-sync-videos.json
Due: none

chore: add AgentOS to project
  .gitmodules
  AI.md
Due: none

chore: ignorar archivos tsbuildinfo
  .gitignore
Due: none

docs: consolidar setup y runbook en docs
  RUNBOOK.md
  SETUP.md
Due: none

docs: eliminar README de plantilla en app
  apps/web/README.md
Due: prettier --write

docs: corregir README con versiones y compose
  README.md
Due: none

chore: estandarizar env de docker
  docs/SETUP.md
  infra/docker/.env.example
  infra/docker/docker-compose.yml
Due: none

docs: agregar politica de ramas
  docs/BRANCHING.md
Due: none

docs: alinear README y setup con politica de ramas
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/SETUP.md
Due: none

docs: ampliar politica de ramas
  docs/BRANCHING.md
Due: none

chore: agregar script de limpieza de ramas
  scripts/branch_cleanup.sh
Due: none

docs: documentar script de limpieza de ramas
  README.md
  docs/BRANCHING.md
Due: none

feat: fortalecer autenticacion con refresh tokens
  apps/web/src/app/api/auth/login/route.ts
  apps/web/src/app/api/auth/logout/route.ts
  apps/web/src/app/api/auth/refresh/route.ts
  apps/web/src/app/api/auth/register/route.ts
  apps/web/src/app/contexts/AuthContext.tsx
  apps/web/src/application/services/AuthService.ts
  apps/web/src/domain/index.ts
  apps/web/src/domain/repositories/SessionRepository.ts
  apps/web/src/infrastructure/repositories/PostgresSessionRepository.ts
  apps/web/src/lib/config.ts
  apps/web/src/lib/validation.ts
  docs/SETUP.md
  infra/docker/.env.example
  infra/docker/migration_auth_sessions.sql
  infra/docker/schema.sql
Due: eslint --fix, prettier --write

chore: agregar script de migraciones
  docs/SETUP.md
  scripts/db_migrate.sh
Due: none

chore: mejorar workflows de n8n
  n8n/workflows/README.md
  n8n/workflows/cronostudio-ingest-analytics-daily.json
  n8n/workflows/cronostudio-sync-channels.json
  n8n/workflows/cronostudio-sync-videos.json
Due: none

chore: agregar seed y usar database_url
  apps/web/src/lib/db.ts
  docs/SETUP.md
  infra/docker/.env.example
  scripts/db_seed.sh
Due: eslint --fix, prettier --write

fix: agregar auth en analytics y channels
  apps/web/src/app/analytics/page.tsx
  apps/web/src/app/channels/page.tsx
  scripts/migrate.sh
Due: eslint --fix, prettier --write

chore: validar config en health
  apps/web/src/app/api/health/route.ts
Due: eslint --fix, prettier --write

feat: registrar ejecuciones de automatizacion
  apps/web/src/app/api/automation-runs/route.ts
  apps/web/src/app/page.tsx
  n8n/workflows/README.md
  n8n/workflows/cronostudio-ingest-analytics-daily.json
  n8n/workflows/cronostudio-sync-channels.json
  n8n/workflows/cronostudio-sync-videos.json
Due: eslint --fix, prettier --write

fix: unificar auth en ui de contenido
  apps/web/src/app/scripts/page.tsx
  apps/web/src/app/seo/page.tsx
  apps/web/src/app/thumbnails/page.tsx
Due: eslint --fix, prettier --write

feat: analytics real con youtube analytics api
  apps/web/src/app/api/videos/route.ts
  docs/SETUP.md
  infra/docker/.env.example
  n8n/workflows/README.md
  n8n/workflows/cronostudio-ingest-analytics-daily.json
Due: eslint --fix, prettier --write

chore: agregar migraciones en ci
  .github/workflows/ci.yml
Due: none

chore: agregar logging estructurado
  apps/web/src/app/api/auth/logout/route.ts
  apps/web/src/app/api/auth/refresh/route.ts
  apps/web/src/app/api/automation-runs/route.ts
  apps/web/src/lib/logger.ts
  docs/SETUP.md
  infra/docker/.env.example
Due: eslint --fix, prettier --write

feat: agregar verificacion de email y reset de contraseña
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/src/app/api/auth/register/route.ts
  apps/web/src/app/api/auth/request-password-reset/route.ts
  apps/web/src/app/api/auth/resend-verification/route.ts
  apps/web/src/app/api/auth/reset-password/route.ts
  apps/web/src/app/api/auth/verify-email/route.ts
  apps/web/src/domain/entities/User.ts
  apps/web/src/infrastructure/repositories/PostgresUserRepository.ts
  apps/web/src/lib/email.ts
  apps/web/src/lib/token.ts
  apps/web/src/lib/validation.ts
  docs/SETUP.md
  infra/docker/.env.example
  infra/docker/migration_auth_email_tokens.sql
  infra/docker/schema.sql
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: apps/web/**/*.{ts,tsx}
  prettier --write: (any of: apps/web/**/*.{ts,tsx}) or (any of: apps/web/**/*.{json,md})
